
<h1>Olá, <%= @user.email %>!</h1>
<p>Obrigado por se registrar! Por favor, confirme seu endereço de e-mail clicando no link abaixo:</p>
<p>
  <a href="<%= @url %>">Confirmar E-mail</a>
</p>
<p>Se você não solicitou este registro, ignore este e-mail.</p>

